@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: "Poppins", sans-serif;
}

.card{
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

.card:hover {
    transform: scale(1.1); /* Multiplica o tamanho original por 2 */
    
}


.peixeDesc{
    text-align: justify;
}

.bio{
    border: 1px solid #000;
    resize: none;
    width:350px;
}

.nav{
    border-bottom: 0.5px solid #c5c5c5;
}

.borda{
    border: 1px solid #d8d7d7;
    padding:10px;
   
}

@keyframes animation {
   
    50% {color:rgb(255, 255, 0); text-shadow: 0 0 20px rgba(255, 255, 0, 0.808);}
}

.destaque{
    color:rgb(202 138 4);
    animation: animation 3s infinite;
}

.adicionar{
    border: 4px solid #000;
}


@media only screen and (min-width: 768px){
    .menu{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .text-rodape{
        padding-top:30px;
    }

    .cards{
        margin-left:40px;
        margin-bottom:30px;
    }

    .doce{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 30px;
    }

    .salgada{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-bottom: 30px;
    }

    .perfil{
       margin-right: 20px;
    }

  

    .aquarismo{
        display: none;
    }
    
    .menu{
        display: inline-block;
    }

    .items-rodape{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .descubra{
        margin-bottom: 5px;
        font-size: 19px;
    }

    .especiesRodape{
        padding: 0;
        margin-top:30px;
    }

    .rodape-text{
        width:auto !important;
    }

    .login{
        width:100%;
        height:100%;
        border-radius:0;
        padding-top: 50px;
    }
    .subscribe{
        width:100%;
        height:100%;
        border-radius:0;
        padding-top: 20px;
    }

    .inputs{
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .cards{
       justify-content: center;
       align-items: center;
       padding-right:30px;
 
    }

    .peixes{
        width:auto;
        padding: 20px;
        margin: 0;
        width:100%;
        
    }

   

    .imagesPeixes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .imagesPeixes img{
       margin:0;
       padding:0;
       width: 100%;
       
    }

    .carrousselMobile{
       margin:0;
       margin-top:20px;
    }

    .peixe1{
        height:auto;
    }

    .peixe2{
        height:auto;
    }

    .buttonMobile{
        width:250px;
    }

       
        
        @keyframes slide{
            0%{
                left:0;
            }
            100%{
                left: -100%;
            }
        }

    .descricao{
        
        padding-top:35px;
        padding-left: 20px;;
    }
}

@media only screen and (min-width: 768px) and (max-width:1180px){

    .items-rodape{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .especiesRodape{
        padding: 0;
        margin-top:30px;
    }

    .inputs{
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
        padding: 0;
     }

     .peixe1{
        height:auto;
    }

    .shark{
        height:290px;
    }

    .peixe2{
        height:auto;
    }
}

@media only screen and (min-width: 820px) and (max-width:1180px){
    .imagesPeixes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .peixes{
        width:auto;
        margin-top: 30px;
        
    }
    }

    .carousel{
        width:200%;
        animation: slide 20s linear  infinite;
        position: relative;
        
        &:hover{
            animation-play-state: paused;
        }
    }
    
    @keyframes slide{
        0%{
            left:0;
        }
        100%{
            left: -100%;
        }
    }